body{
    background-color: rgb(178, 233, 240);
}

.University{
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 5em;
    width: 4em;
    padding: 3px 3px 3px;
    margin-bottom: auto;
    margin-right: auto;
}

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20em;
    width:30em;
    border: .15vw solid black;
    background-color: azure;
    box-shadow: inset;
}
.login-form{
    display: flex;
    flex-direction: column;
    width:50%;
}
.login-form input{
    margin-top: 2.5em;
    font-weight: 1.5em;
    padding: 5px 10px;
}
.login-form input[type="submit"], input[type="reset"]{
   
  background-color: rgb(73, 129, 234);  
  border: 4ch;
  border-radius: 4px;
  color: whitesmoke;
  font-weight: 800;

}

.login {
    display: flex;
}
.login-form input[type="submit"]{
margin-right: 1.5em;
}

@media screen and (max-width: 576px){
     .University , .uni-name ,.application-system{
        font-size: 4vw;
        display: flex;
        justify-content: center;
        align-items: center;
       }
    } 
 @media screen and (min-width: 577px) and (max-width:992px){
    .University,.uni-name ,.application-system{
        display: flex;
        justify-content: center;
        align-items: center;
     }
 }